In [3]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
s = pd.Series([10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [6]:
s[3]

13

In [7]:
pd.Series(['Mike', 'Marcia', 'Mikael', 'Bleu'])

0      Mike
1    Marcia
2    Mikael
3      Bleu
dtype: object

In [8]:
pd.Series([2]*5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [9]:
pd.Series(list('abcde'))

0    a
1    b
2    c
3    d
4    e
dtype: object

In [10]:
pd.Series({'Mike': 'Dad',
          'Marcia': 'Mom',
          'Mikael': 'Son',
          'Bleu': 'Best doggie ever'})

Mike                   Dad
Marcia                 Mom
Mikael                 Son
Bleu      Best doggie ever
dtype: object

In [11]:
pd.Series(np.arange(4,9))

0    4
1    5
2    6
3    7
4    8
dtype: int32

In [12]:
pd.Series(np.linspace(0, 9, 5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [16]:
np.random.seed(12345)
pd.Series(np.random.normal(size=5))

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

In [17]:
pd.Series(2)

0    2
dtype: int64

In [23]:
s = pd.Series(np.arange(0, 5))
s*2

0    0
1    2
2    4
3    6
4    8
dtype: int32

In [25]:
s = pd.Series([1, 2, 3])
s.values

array([1, 2, 3], dtype=int64)

In [26]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
len(s)

3

In [28]:
s.size

3

In [30]:
s.shape

(3,)

In [31]:
labels = ['Mike', 'Marcia', 'Mikael', 'Bleu']
role = ['Dad', 'Mom', 'Son', 'Dog']
s = pd.Series(labels, index=role)
s

Dad      Mike
Mom    Marcia
Son    Mikael
Dog      Bleu
dtype: object

In [32]:
s.index

Index(['Dad', 'Mom', 'Son', 'Dog'], dtype='object')

In [33]:
s['Dad']

'Mike'

In [34]:
s = pd.Series(np.arange(1, 10),
 index=list('abcdefghi'))

In [35]:
s.head()

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [36]:
s.head(3)

a    1
b    2
c    3
dtype: int32

In [37]:
s.tail()

e    5
f    6
g    7
h    8
i    9
dtype: int32

In [38]:
s.tail(3)

g    7
h    8
i    9
dtype: int32

In [39]:
s.take([1,5,8])

b    2
f    6
i    9
dtype: int32

In [40]:
s1 = pd.Series(np.arange(10, 15), index=list('abcde'))
s1

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [41]:
s1['a']

10

In [42]:
s1[['d', 'b']]

d    13
b    11
dtype: int32

In [43]:
s1[[3,1]]

d    13
b    11
dtype: int32

In [44]:
s2 = pd.Series([1, 2, 3, 4], index=[10, 11, 12, 13])
s2

10    1
11    2
12    3
13    4
dtype: int64

In [45]:
s2[[13, 10]]

13    4
10    1
dtype: int64

In [46]:
s1.iloc[[0, 2]]

a    10
c    12
dtype: int32

In [47]:
s2.iloc[[3,2]]

13    4
12    3
dtype: int64

In [50]:
s1.loc[['a', 'd']]

a    10
d    13
dtype: int32

In [51]:
s = pd.Series(np.arange(100, 110), index=np.arange(10, 20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [53]:
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int32