In [7]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

sp500 = pd.read_csv('data/sp500.csv', index_col='Symbol', usecols=[0, 2, 3, 7])

In [8]:
newSP500 = sp500.rename(columns=
                       {'Book Value': 'BookValue'})
newSP500[:2]

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573

In [9]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [10]:
sp500.rename(columns=
         {'Book Value': 'BookValue'},
         inplace=True)

sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

In [11]:
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

In [14]:
sp500_copy = sp500.copy()

sp500_copy['RoundedPrice'] = sp500.Price.round()
sp500_copy[:2]

             Sector   Price  BookValue  RoundedPrice
Symbol
MMM     Industrials  141.14     26.668         141.0
ABT     Health Care   39.60     15.573          40.0

In [13]:
copy = sp500.copy()
copy.insert(1, 'RoundedPrice', sp500.Price.round())
copy[:2]

             Sector  RoundedPrice   Price  BookValue
Symbol
MMM     Industrials         141.0  141.14     26.668
ABT     Health Care          40.0   39.60     15.573

In [15]:
ss = sp500[:3].copy()

ss.loc[:, 'PER'] = 0

ss

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668    0
ABT     Health Care   39.60     15.573    0
ABBV    Health Care   53.95      2.954    0

In [17]:
ss = sp500[:3]. copy()
np.random.seed(123456)
ss.loc[:, 'PER'] = pd.Series(np.random.normal(size=3), index=ss.index)

ss

             Sector   Price  BookValue       PER
Symbol
MMM     Industrials  141.14     26.668  0.469112
ABT     Health Care   39.60     15.573 -0.282863
ABBV    Health Care   53.95      2.954 -1.509059

In [21]:
rounded_price = pd.DataFrame({'RoundedPrice':
                             sp500.Price.round()})

concatenated = pd.concat([sp500, rounded_price], axis=1)
concatenated[:5]

                        Sector   Price  BookValue  \
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897

        RoundedPrice
Symbol
MMM            141.0
ABT             40.0
ABBV            54.0
ACN             80.0
ACE            103.0

In [26]:
rounded_price = pd.DataFrame({'Price': sp500.Price.round()})
rounded_price[:5]

        Price
Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0

In [27]:
dups = pd.concat([sp500, rounded_price], axis=1)
dups[:5]

                        Sector   Price  BookValue  Price
Symbol
MMM                Industrials  141.14     26.668  141.0
ABT                Health Care   39.60     15.573   40.0
ABBV               Health Care   53.95      2.954   54.0
ACN     Information Technology   79.79      8.326   80.0
ACE                 Financials  102.91     86.897  103.0

In [28]:
dups.Price

         Price  Price
Symbol
MMM     141.14  141.0
ABT      39.60   40.0
ABBV     53.95   54.0
ACN      79.79   80.0
ACE     102.91  103.0
...        ...    ...
YHOO     35.02   35.0
YUM      74.77   75.0
ZMH     101.84  102.0
ZION     28.43   28.0
ZTS      30.53   31.0

[500 rows x 2 columns]

In [31]:
reversed_column_names = sp500.columns[::-1]
sp500[reversed_column_names][:5]

        BookValue   Price                  Sector
Symbol
MMM        26.668  141.14             Industrials
ABT        15.573   39.60             Health Care
ABBV        2.954   53.95             Health Care
ACN         8.326   79.79  Information Technology
ACE        86.897  102.91              Financials

In [34]:
copy = sp500.copy()
copy.Price = rounded_price.Price
copy[0:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [36]:
copy = sp500.copy()
copy.loc[:,'Price'] = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [37]:
copy = sp500.copy()
del copy['BookValue']
copy[:4]

                        Sector   Price
Symbol
MMM                Industrials  141.14
ABT                Health Care   39.60
ABBV               Health Care   53.95
ACN     Information Technology   79.79

In [38]:
copy = sp500.copy()

popped = copy.pop('Sector')
copy[:2]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573

In [39]:
popped[:5]

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [41]:
copy = sp500.copy()

afterdrop = copy.drop(['Sector'], axis = 1)
afterdrop[:5]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573
ABBV     53.95      2.954
ACN      79.79      8.326
ACE     102.91     86.897

In [42]:
df1 = sp500.iloc[0:3].copy()
df2 = sp500.iloc[[10, 11, 2]]

appended = df1.append(df2)

appended

C:\Users\eldorado\AppData\Local\Temp\ipykernel_8624\2859041825.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appended = df1.append(df2)

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
A       Health Care   56.18     16.928
GAS       Utilities   52.98     32.462
ABBV    Health Care   53.95      2.954

In [43]:
df3 = pd.DataFrame(0.0,
                  index=df1.index,
                  columns=['PER'])
df3

        PER
Symbol
MMM     0.0
ABT     0.0
ABBV    0.0

In [44]:
df1.append(df3)

C:\Users\eldorado\AppData\Local\Temp\ipykernel_8624\2993192114.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df3)

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668  NaN
ABT     Health Care   39.60     15.573  NaN
ABBV    Health Care   53.95      2.954  NaN
MMM             NaN     NaN        NaN  0.0
ABT             NaN     NaN        NaN  0.0
ABBV            NaN     NaN        NaN  0.0

In [45]:
df1.append(df3, ignore_index=True)

C:\Users\eldorado\AppData\Local\Temp\ipykernel_8624\2634890744.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df3, ignore_index=True)

        Sector   Price  BookValue  PER
0  Industrials  141.14     26.668  NaN
1  Health Care   39.60     15.573  NaN
2  Health Care   53.95      2.954  NaN
3          NaN     NaN        NaN  0.0
4          NaN     NaN        NaN  0.0
5          NaN     NaN        NaN  0.0

In [46]:
df1 = sp500.iloc[0:3].copy()
df= sp500.iloc[[10,11,2]]
pd.concat([df1, df2])

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
A       Health Care   56.18     16.928
GAS       Utilities   52.98     32.462
ABBV    Health Care   53.95      2.954

In [47]:
df2_2 = df.copy()
df2_2.insert(3, 'Foo', pd.Series(0, index=df.index))
df2_2

             Sector  Price  BookValue  Foo
Symbol
A       Health Care  56.18     16.928    0
GAS       Utilities  52.98     32.462    0
ABBV    Health Care  53.95      2.954    0

In [48]:
pd.concat([df1, df2_2])

             Sector   Price  BookValue  Foo
Symbol
MMM     Industrials  141.14     26.668  NaN
ABT     Health Care   39.60     15.573  NaN
ABBV    Health Care   53.95      2.954  NaN
A       Health Care   56.18     16.928  0.0
GAS       Utilities   52.98     32.462  0.0
ABBV    Health Care   53.95      2.954  0.0

In [49]:
r = pd.concat([df1, df2_2], keys=['df1', 'df2'])
r

                 Sector   Price  BookValue  Foo
    Symbol
df1 MMM     Industrials  141.14     26.668  NaN
    ABT     Health Care   39.60     15.573  NaN
    ABBV    Health Care   53.95      2.954  NaN
df2 A       Health Care   56.18     16.928  0.0
    GAS       Utilities   52.98     32.462  0.0
    ABBV    Health Care   53.95      2.954  0.0